<!--<label for="selected-checkbox">ONLY SELECTED PEOPLE</label>-->
<!--<input (change)="showSelectedOnly()"-->
<!--       id="selected-checkbox"-->
<!--       type="checkbox">-->

<ng-container *ngIf="people.length; else noResults">
  <person *ngFor="let person of people"
          [person]="person"
          [isSelected]="personSelected === person"
          (removeClick)="handleRemovePerson(person)"
          (iWasClicked)="selectPerson($event)"></person>
</ng-container>

<ng-template #noResults>
  <div>
    No result found.
  </div>
</ng-template>



<!--<div *ngIf="personSelected">-->
<!--  PERSON SELECTED: {{personSelected.name}}-->
<!--</div>-->

